<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/screen-site.css" th:href="@{/css/screen-site.css}">
    <meta charset="UTF-8">
    <title>History</title>
</head>
<body>

<div class="header-top">
    <header>
        <ul>
            <li class="logo">
                <a href="/">
                    <img src="img/logo.png">
                </a>
            </li>
        </ul>
    </header>

    <nav class="genres">
        <ul class="inner">
            <li>
                <a href="/" class="bold">Главная</a>
            </li>
            <li>
                <a href="/history" class="bold">История</a>
            </li>
            <li>
                <a href="/news" class="bold">Новости</a>
            </li>
            <li>
                <a href="/timetable" class="bold">Афиша и билеты</a>
            </li>
        </ul>
    </nav>

</div>
<div class="content header-padding">
    <h2>HISTORY</h2>
    2003 год
    Художественным руководителем Александринского театра становится Валерий Владимирович Фокин.

    2005 год
    «Двойник» по Ф.М. Достоевскому. Постановка В.В. Фокина. В роли Голядкина Старшего — В.В. Гвоздицкий.


    2006 год
    250-летие Александринского театра празднуется как юбилей первого государственного театра России и начала
    государственной политики в области отечественного сценического искусства. Осуществляется масштабная
    реконструкция-реставрация исторического здания театра. Открывается историческая экспозиция «Музей русской драмы».
    Впервые проводится Международный театральный фестиваль «Александринский».

    В рамках творческой программы «Новая жизнь традиции» греческий режиссер Теодорос Терзопулос ставит трагедию Софокла
    «Эдип-царь». Этим спектаклем был открыт Первый Международный театральный фестиваль «Александринский».

    «Живой труп» Л.Н. Толстого. Постановка В.В. Фокина. В роли Феди Протасова — С.И. Паршин.


    2007 год
    «Чайка» А.П. Чехова. Постановка К. Люпы (Польша). В Роли Нины Заречной — Ю.Г. Марченко.


    2007 год
    «Иваны» по "Повести о том, как поссорился Иван Иванович с Иваном Никифоровичем" и другим произведениям Н.В. Гоголя.
    Постановка А.А. Могучего. В роли Ивана Ивановича — Н.С. Мартон, в роли Ивана Никифоровича — В.Ф. Смирнов.


    2008 год
    «Женитьба» Н.В. Гоголя. Постановка В.В. Фокина. В роли Подколесина — И.Н. Волков.


    2009 год
    «Ксения. История любви» В. Леванова. Постановка В.В. Фокина. В роли Ксении — Я.Д. Лакоба.


    2010 год
    «Гамлет» В. Шекспира. Постановка В.В. Фокина. В роли Гамлета — Д.О. Лысенков.


    2011 год
    «Ваш Гоголь» по Н.В. Гоголю. Постановка В.В. Фокина. В роли Гоголя — И.Н. Волков.


    2012 год
    «Литургия Zero» по Ф.М. Достоевскому. Постановка В.В. Фокина. В роли Алексея Ивановича — А. Шагин.


    15 мая 2013 года
    Открывается Новая сцена Александринского театра.


    Август 2014 года
    Александринский театр получил статус Национального достояния

    2014 год
    «Маскарад» по М.Ю. Лермонтову и Вс. Мейерхольду. Постановка В.В. Фокина. В роли Арбенина — П.М. Семак и Д.О.
    Лысенков.


    Август 2015 года
    Первые гастроли Александринского театра в Китае. Спектакль Валерия Фокина Ревизор по одноименной комедии Н.В. Гоголя
    показан в Пекине на сцене Пекинского народного театра и в Шанхае на сцене Большого Шанхайского театра.


    2016 год
    «Сегодня. 2016» К.В. Фокина. Постановка В.В. Фокина. (Новая сцена). В главной роли — П.М. Семак.


    Апрель 2016 года
    Российский государственный академический театр драмы им. А.С. Пушкина (Александринский) был внесен в Государственный
    свод особо ценных объектов культурного наследия народов Российской Федерации.

    30 августа 2016 года
    260-лет со дня основания Александринского театра. В числе торжественных мероприятий - полуденный выстрел из пушки с
    Нарышкина бастиона Петропавловской крепости в честь юбилея, открытый для прессы и гостей театра сбор труппы.


    2016 год
    Главным режиссером театра становится Николай Александрович Рощин.

    Сентябрь 2016 года
    Впервые на сцене Александринского театра поставлен роман Ф.М. Достоевского «Преступление и наказание». Режиссер –
    Аттила Виднянский.


    26 августа 2017 года
    В театральном центре-заповеднике Тога в рамках программы "Русские сезоны" в Японии состоялась премьера международной
    версии спектакля Валерия Фокина «Гамлет».


    9 и 10 сентября 2017 года
    Спектакль Валерия Фокина «Маскарад. Воспоминания будущего» по драме М. Ю. Лермонтова «Маскарад» и спектаклю Вс.
    Мейерхольда 1917 года показан в Москве на сцене Большого театра. Гастроли стали завершением юбилейных торжеств,
    посвященных 100-летию премьеры спектакля Всеволода Мейерхольда.


    19 сентября 2017
    «Оптимистическая трагедия. Прощальный бал» Вс. Вишневского. Драматург – Ася Волошина. Режиссер – Виктор Рыжаков. В
    роли Комиссара - Анна Блинова.


    26 января 2018
    «Швейк. Возвращение». Спектакль Валерия Фокина по мотивам романа Я. Гашека. Драматург – Т. Рахманова. В роли Швейка
    – Степан Балакшин.


    14 сентября 2018
    «Сирано де Бержерак» Э. Ростана. Постановка Николая Рощина. В роли Сирано – Иван Волков.


    12 - 17 ноября 2018
    В Александринском театре прошла Программа к 50-летию творческой деятельности художественного руководителя
    Александринского театра Валерия Фокина.


    17 ноября 2018
    На Новой сцене Александринского театра прошла международная конференция, посвященная лауреату XVII Европейской
    театральной премии - Валерию Фокину.
    На Основной сцене Александринского театра состоялась Церемония вручения Европейской театральной премии и премий
    «Театральная реальность».


    26 ноября - 2 декабря 2018
    Александринский театр принял участие в проекте «Русские сезоны» в Италии. На сцене Театра Пикколо ди Милано (Piccolo
    di Milano) были показаны: спектакль Валерия Фокина «Ваш Гоголь. Последний монолог», спектакль Андрия Жолдака «По ту
    сторону занавеса» и спектакль Антона Оконешникова «Двенадцать». Также в рамках программы состоялись мастер-классы и
    лекции для профессионалов и любителей театра.


    2019 год
    «Рождение Сталина». В основе сценической композиции – исторические материалы, фрагменты из романа Ф.М. Достоевского
    «Бесы», а также тексты современных авторов. Постановка Валерия Фокина. В роли Иосифа Джугашвили - Владимир Кошевой,
    в роли Сталина - Пётр Семак.


</div>
</body>
</html>