<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/screen-site.css" th:href="@{/css/screen-site.css}">
    <meta charset="UTF-8">
    <title>News</title>
</head>
<body>

<div class="header-top">
    <header>
        <ul>
            <li class="logo">
                <a href="/">
                    <img src="img/logo.png">
                </a>
            </li>
        </ul>
    </header>

    <nav class="genres">
        <ul class="inner">
            <li>
                <a href="/" class="bold">Главная</a>
            </li>
            <li>
                <a href="/history" class="bold">История</a>
            </li>
            <li>
                <a href="/news" class="bold">Новости</a>
            </li>
            <li>
                <a href="/timetable" class="bold">Афиша и билеты</a>
            </li>
        </ul>
    </nav>

</div>

<div class="content header-padding">
    <h2>NEWS</h2>
    <div id="news">
        <div class="newsnews">
            24.04.2019
            СОТРУДНИЧЕСТВО С ШАНХАЙСКОЙ ТЕАТРАЛЬНОЙ АКАДЕМИЕЙ
            Сегодня состоялся рабочий визит в Шанхайскую театральную академию художественного руководителя театра
            и Председателя Гильдии режиссеров России Валерия Фокина.
            С китайской стороны во встрече приняли участие:
            Mr. Lu Ang, director of directing department of STA; Ms. Chen Hong, Director of Jing’an Culture & Tourism
            Bureau.
            Во время переговоров были подтвержднены намерения сторон о реализации совместного проекта, в котором примут
            участие молодые режиссеры и актеры России и Китая.
            В 2020 году планируется выпустить два спектакля по произведениям русской классической литературы — силами
            молодой китайской режиссуры на базе Нашего театра,
            а российских постановщиков — в Шанхайской театральной Академии.
        </div>
        <div class="newsnews">
            22.04.2019
            Some already past sample text
        </div>
    </div>
</div>
</body>
</html>